.bookDetailsContainer {
  background-color: #f5f7fa;
  height: 120vh;
  background-size: cover;
  display: flex;
  padding: 50px 70px;
}

.detailsImage {
  width: 200px;
  height: 220px;
  border-radius: 14.1309px;
}

.bookDetailsBox {
  width: 1140px;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
    0px 1px 2px rgba(96, 97, 112, 0.16);
  border-radius: 16px;
  background-color: #fff;
  padding: 50px;
  height: 100vh;
  margin-bottom: 100px;
}

.imgDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

.details-title {
  font-weight: 600;
  font-size: 25px;
  color: #334155;
  font-family: roboto;
}

.detailsAuthor {
  font-weight: 500;
  font-size: 17px;
  color: #475569;
  font-family: roboto;
}

.detailsRating {
  font-weight: 500;
  font-size: 17px;
  color: #475569;
  gap: 10px;
  display: flex;
  align-items: center;
}

.details-rating {
  font-weight: 400;
  font-size: 17px;
  color: #334155;
}

.detailsStatus {
  font-weight: 500;
  font-size: 17px;
  color: #475569;
}

.details-status {
  color: #0284c7;
}

hr {
  color: #94a3b8;
}

.aboutHeading {
  font-weight: 600;
  font-size: 24px;
  color: #334155;
  font-family: 'roboto';
}
.aboutBook,
.aboutAuthor {
  font-weight: 400;
  font-size: 16px;
  color: #475569;
}

.aboutContainer {
  margin-top: 20px;
}

.spinner-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
  height: 100vh;
}

.spinner-dark {
  background-size: cover;
  background-color: #000;
}

.detailsFailureView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.detailsFailureHeading {
  font-weight: 500;
  font-size: 24px;
  color: #475569;
}

.failureRetryBtn {
  width: 112px;
  height: 48px;
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #0284c7;
  color: #fff;
  border: none;
  cursor: pointer;
}

.fixedLength {
  height: 100vh;
}

.bgDark {
  background-color: #000;
}

.colorWhite {
  color: #fff;
}

.boxBgDark {
  background-color: #000;
  border: 1px solid #fff;
}

.favBtn {
  background-color: #0284c7;
  color: #fff;
  border-radius: 4px;
  width: 130px;
  height: 32px;
  border: none;
  cursor: pointer;
}

button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #0284c7;
  color: #fff;
  border-radius: 4px;
  width: 130px;
  height: 32px;
  border: none;
}

button.disabled:hover {
  background-color: #eee;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: red;
}

@media screen and (max-width: 786px) {
  .imgDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutAuthor {
    margin: auto;
    width: 100%;
    font-size: 14px;
  }
  .aboutBook {
    font-size: 14px;
    margin: auto;
    width: 100%;
  }

  .aboutHeading {
    font-size: 16px;
  }
  .bookDetailsContainer {
    padding: 20px 15px;
    box-shadow: none;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .bookDetailsBox {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .fixedLength {
    height: 0px;
  }
  .detailsContainer {
    text-align: center;
  }
  .detailsRating {
    display: flex;
    justify-content: center;
    margin: 0px;
  }
  .detailsFailureImage {
    width: 300px;
  }
  .detailsFailureHeading {
    text-align: center;
    font-size: 16px;
  }
}
