.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  background-color: #e5e5e5;
  height: 525px;
  width: 800px;
}

.login-page-image {
  width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3%;
}

.form {
  background-color: #fff;
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 50px;
}

.logo-login {
  width: 131px;
  height: 48px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.userInput {
  width: 250px;
  padding: 7px;
}

label {
  margin-bottom: 5px;
  color: #5a7184;
}

.loginBtn {
  width: 250px;
  padding: 10px;
  background-color: #0284c7;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.loginError {
  color: #ef4444;
  margin-bottom: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    background-color: #fff;
    height: 100vh;
  }
  .login-page-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .userInput {
    width: 350px;
    padding: 10px;
  }
  .loginBtn {
    width: 350px;
  }
  .main-container {
    height: 100%;
    width: 100%;
  }
  .form-container {
    display: flex;
    flex-direction: column;
  }
}
